body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set the background color to black */
body {
  background-color: black;
}

/* CSS for top bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFCC99; /* Light orange */
  padding: 10px;
  text-align: center;
  z-index: 2; /* Ensure the top bar is above other elements */
}

/* Style for the top bar text */
.top-text {
  color: black;
  font-weight: bold;
}

/* Text under top bar */
.sub-text {
  text-align: center;
  color: white;
  margin-top: 20px; /* Adjust margin to position text closer to top bar */
  font-weight: 600; /* Slightly bold */
}

/* CSS for button layout */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Style for the vote button */
.vote-button {
  position: absolute;
  width: 100px; /* Adjust button size */
  height: 40px; /* Adjust button size */
  border-radius: 10px; /* Curved corners */
  background-color: transparent; /* Transparent button */
  overflow: hidden; /* Ensure content doesn't overflow the curved button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-button button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
}

/* Specific styles for each corner button */
.top-left-curve {
  top: 0;
  left: 0;
}

.top-right-curve {
  top: 0;
  right: 0;
}

.bottom-right-curve {
  bottom: 0;
  right: 0;
}

.bottom-left-curve {
  bottom: 0;
  left: 0;
}

/* Hover effect for buttons */
.vote-button:hover button {
  border-color: white;
}
